* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(19,20,20);
    overflow: hidden;
}

.content {
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}

.text {
    font-size: calc(16px + 32 * (100vw / 1440));
    color: rgb(212, 190, 152);
    margin-top: 2rem;
    margin-left: 1rem;
}

.input {
    width: 100%;
    height: 20rem;
    outline: none;
    background-color: rgb(32,32,32);
    border: 1px solid rgb(212, 190, 152);
    font-size: calc(16px + 32 * (100vw / 1440));
    resize: none;
    padding: 1rem;
    padding-right: 2rem;
    overflow: hidden;
    color: rgb(212, 190, 152);
    caret-color: rgba(32,32,32, 0);
}

.letter {
    display: inline-block;
    position: relative;
}

.letter:last-child::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -1.2rem;
    transform: translateY(-50%);
    width: 0.8rem;
    height: 64%;
    background-color: rgb(212, 190, 152);
    transition: 0.2s all;
    animation: caret 2s ease-in infinite, caret-move 0.04s ease-in;
}

@keyframes caret {
   0% {
    opacity: 1;
   } 
   50% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
}

@keyframes caret-move {
    0% {
        right: -1rem;
    }
    100% {
        right: -1.2rem;
    }
}

.letter-mistake {
    color: rgb(234, 105, 87);
}

.congratulations {
    font-size: calc(16px + 32 * (100vw / 1400));
    color: rgb(169, 192, 101);
    text-align: center;
    margin-top: 2rem;
    display: none;
}

.congratulations-complete {
    display: block;
}

.restart {
    width: 10rem;
    margin-left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    display: none;
}

.restart-complete {
    display: block;
}
